@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html,

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient( 179.4deg,  rgba(240,240,240,1) 14.6%, rgba(50,50,50,1) 104.7% );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9c9c9c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}


/* specific classes from default react example below */
.default-react-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #585858;
}

.default-react-link {
  color: #61dafb;
}